@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@400;500&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poltawski Nowy", serif;
  background: rgba(244, 203, 22, 0.815);
  border-radius: 16px;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  color: white;
}
.logo {
  display: block;
  margin: 1% auto;
  text-align: center;
}
